.mui-content{
	background: #1b82d2;
}
.mui-pull-caption{
	color: #fff;
}
.mui-bar-nav>div{
	padding-left: 0.37037rem;
	padding-right:0.37037rem;
	height:1.203703rem;
	width:100%;
	display:flex;
	justify-content:space-between;
	color:#fff;
	font-size: 0.416666rem;
	overflow: hidden;
}
.mui-bar-nav>div>span{
	line-height:1.203703rem;
}
.mui-bar-nav>div>a{
	color:#fff;
	font-size: 0.416666rem;
}
.bo{
	background: #fff;
}
.one{
	background: #1b82d2;
}
.one>div{
	width: 100%;
	height:2.962962rem;
	padding-left: 0.37037rem;
	padding-right:0.37037rem;
}
.two{
	background: #f1f8fe;
}
.three{
	background: #fff;
}
.three>div{
	width: 100%;
	height:2.416666rem;
	padding-left: 0.712962rem;
	padding-right:0.712962rem;
	display:flex;
	justify-content:space-between;
	align-items: center;
}
.four{
	background: #fff;
}
.four>div{
	width: 100%;
	height:1.796296rem;
	padding-left: 0.712962rem;
	padding-right:0.712962rem;
}
.four>div>img{
	width: 100%;
	height: 100%;
}
.three>div>a{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: 0.925925rem;
	height: 1.296296rem;
}
.three>div>a .iconfont{
	font-size: 0.648148rem;
	display: block;
	text-align: center;
}
.three>div>a .mui-tab-label{
	color: #000;
	font-size:0.277777rem;
	display: block;
	text-align: center;
}
.two>div{
	width: 100%;
	height: 0.962962rem;
	padding-left: 0.37037rem;
	padding-right:0.37037rem;
	display:flex;
	justify-content:space-between;
	align-items: center;
}
.two>div>p{
	color: #000;
}
.two>div>p>s{
	text-decoration: none;
	color: #999;
}
.one>div>div{
	display:flex;
	align-items: center;
	justify-content:space-between;
}
.one>div>.top{
	height: 1.907407rem;
}
.one>div p{
	color:#fff;
	font-size: 0.324074rem;
}
.one>div>.top p{
	padding-top: 0.185185rem;
	font-size:0.694444rem;
}
.ri{
	display: block;
	text-align: right;
}
.one>div span{
	font-size: 0.324074rem;
	color:#a8c9e2;
}
.iconfont{
	font-size: 0.324074rem;
}
.icon-yanjing1,.icon-yanjing{
	color: #fff;
	margin:0 0.3rem;
}
.one>div>.top s{
	display: inline-block;
	width: 2rem;
	text-align: center;
	text-decoration: none;
	background: #177bcc;
	border-radius:50%;
}
.one>div>.bto{
	height: 0.74074rem;
}
.ti{
	padding:0.462962rem 0.712962rem 0.37037rem 0.712962rem;
	display:flex;
	justify-content:space-between;
	align-items: center;
	width: 100%;
}
.ti>span{
	font-size: 0.37037rem;
}
.ti>a{
	font-size: 0.277777rem;
	color: #9a9a9a;
	text-decoration: none;
}
#slider{
	height: 4.814814rem;
}
#slider .mui-slider-group{
	left:0.7rem;
}
#slider img{
	width: 7.648148rem;
	height: 4.351851rem;
}
#slider .mui-slider-item{
	width: 7.648148rem;
	margin-right:0.1rem ;
}
#slider .mui-slider-indicator{
	bottom:0;
	border-radius: 0;
}
#slider .mui-indicator{
	height: 0.046296rem;
	border-radius: 0;
}
#slider .mui-slider-indicator .mui-active{
	width: 0.277777rem;
	background: #108ee9;
}
.seven .ti{
	padding-top: 0rem;
}
.seven img{
	width: 33.3%;
	height: 3.62037rem;
}
.ni{
	width: 100%;
	padding:0rem 0.712962rem 0.37037rem 0.712962rem;
}
.ni>div{
	width: 100%;
	height: 2.87037rem;
	border: 2px solid #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ni>div>a{
	text-align: center;
}
.ni>div>a .iconfont{
	font-size: 0.7rem;
}
.ni>div>a .icon-huangguan,.ni>div>a .icon-taiyangbaitianrijianmoshibaitianqingxianxing{
	color: #ee5520;
}
.ni>div>a .mui-tab-label{
	color: #000;
	font-size: 0.4rem;
}
.ni>div>a .p{
	font-size: 0.3rem;
	color: #999;
}
.tel{
	padding:0rem 0.712962rem 0.37037rem 0.712962rem;
	height: 7.037037rem;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.tel .moba{
	width: 100%;
	height:1.944444rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}
.tel .xian{
	padding-bottom:1.4rem;
	border-bottom: 1px solid #999;
}
.tel .bg{
	background: #e4e6ea;
}
.tel .moba img{
	height: 1.944444rem;
	width: 2.129629rem;
}
.tel .moba div{
	padding-left: 0.7rem;
}
.tel .moba div p{
	color: #000;
}
.tel .moba div span s{
	text-decoration: none;
	margin-right: 0.092592rem;
	color: #999;
}
.tel .moba div a{
	border:1px solid #999;
	color: #999;
}
.fth{
	width: 100%;
	padding:0rem 0.712962rem 0.37037rem 0.712962rem;
}
.fth img{
	width:100%;
	height: 3.546296rem;
}
.sth{
	padding:0.462962rem 0.712962rem 0.37037rem 0.712962rem;
	text-align: center;
}
.sth span{
	font-size:0.4rem;
}
.sth p{
	font-size:0.3rem;
}